body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: row;
    font-size: 1.7rem;
    justify-content: center;
    align-items: stretch;
    
}

h1 {
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
    margin: 2rem;
}

.element {
    margin: .7rem;
    text-align: center;
    font-weight: 600;
    color: #6A5923;
}

p {
  font-weight: 300;  
  font-style: italic;
  font-size: .85rem;
  color: black;
}

@media only screen and (min-width : 480px) {
    h1 {
        font-size: 2.5rem;
    }
    
    .container {
        font-size: 3rem;
    }
    p {
        font-size: 1rem;
    }
}

@media only screen and (min-width : 768px) {
    .element {
        margin: 1.5rem;
    }
}

@media only screen and (min-width : 992px) {
    h1 {
        font-size: 3rem;
    }
    
    .container {
        font-size: 4rem;
    }
    .element {
        margin: 2.5rem;
    }
    p {
        font-size: 1.6rem;
    }
}
